* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --purple: #306;
  --pink: #c267e0;
}

h2 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  font-size: 1.2em;
}

.centered {
  text-align: center;
}

.btn {
  background-color: var(--purple);
  color: white;
  font-size: 1.2em;
  border-style: none;
  border-radius: 1em;
}

.btn:hover {
  background-color: var(--pink);
}

/* HEADER STYLE */
header {
  display: flex;
  justify-content: space-between;
  padding: 1.7em;
  margin-bottom: 1.5em;
}

.high-score-link {
  color: var(--pink);
  text-decoration: none;
  font-size: 1.2em;
}

/* WELCOME SCREEN STYLE */
.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70ch;
  margin: 0 auto;
  margin-bottom: 1em;
}

.welcome-banner {
  margin-bottom: 1em;
}

.welcome-text {
  font-weight: lighter;
  line-height: 1.5;
  margin-bottom: 1em;
}

.start-btn {
  padding: 0.5em 1.2em;
  width: max-content;
}

/* QUESTIONS STYLE */
.questions {
  display: flex;
  flex-direction: column;
  width: 70ch;
  margin: 0 auto;
}

.question-banner {
  margin-bottom: 1em;
  text-align: left;
  align-self: start;
}

.q-btn {
  margin-bottom: 0.5em;
  font-weight: lighter;
  padding: 0.5em 1.2em;
  width: 100%;
  height: 70px;
  text-align: left;
}

/* Right or Wrong */

.right-or-wrong {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70ch;
  margin: 0 auto;
  align-items: flex-start;
  border-top: 2px solid;
}

.right-or-wrong h3 {
  font-size: 2em;
  font-weight: lighter;
  padding-top: 0.25em;
  font-style: italic;
}

.rwDisplay {
  display: none;
}

/* All Done Page */

.final-score {
  text-align: left;
  font-size: 1.6em;
  font-weight: 300;
  align-self: start;
  margin-bottom: 1em;
  padding-right: 1em;
}

.user-sub {
  display: flex;
  justify-content: start;
  align-self: start;
  align-items: center;
}

.enter-initials {
  text-align: left;
  font-size: 1.6em;
  font-weight: 300;
  margin-bottom: none;
  padding-right: 1em;
}

input {
  height: 3em;
  margin-right: 1em;
  width: 20em;
}

.submit-btn {
  height: 2em;
  width: 5em;
  background-color: var(--purple);
  color: white;
  font-size: 1.2em;
  border-style: none;
  border-radius: 1em;
}

.submit.btn:hover {
  background-color: var(--pink);
}

.newContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70ch;
  margin: 0 auto;
  margin-bottom: 1em;
}

/* High Score Page */
.high-score-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70ch;
  margin: 6em auto 0;
  margin-bottom: 1em;
}

.high-score-container h1 {
  margin-bottom: 0.5em;
}

.button-container {
  display: flex;
  align-items: flex-start;
}

#go-back-btn,
#clear-score-btn {
  width: 250px;
  height: 2em;
  margin: 1em;
}

.score-list {
  list-style: none;
  width: 95%;
}

.score-list li {
  font-size: 1.2em;

  padding: 0.25em;
}

.score-list li:nth-child(odd) {
  background-color: #ccccff;
}
